<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicination</title>
    <link rel="icon" href="{{ url_for('static',filename='images/icon1.png') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">

    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Prediction History</h1>
    <table>
        <thead>
            <tr>
                <th>Symptoms</th>
                <th>Predicted Diagnosis</th>
                <th>Date/Time</th>

            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.symptoms }}</td>
                <td>{{ row.prediction }}</td>
                <td>{{ row.created_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>